!!! 5
html(lange="en")

	head
		include meta

		//Favicon
		link( rel="shortcut icon", href="/favicon.ico")
		link( rel="apple-touch-icon", href="/apple-touch-icon.png")

		//css
		link( rel="stylesheet", media="screen", href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")
		link( rel="stylesheet", media="screen", href="styles/main.css")


		//RSS TODO

	body.home
		header
			.container
				h1
					a.logo Morten Hake Summit
				a.nav-button
					span.icon-bar
					span.icon-bar
					span.icon-bar
				nav
					ul
						li Speakers
						li About
						li Program
						li Past Editions

		article.intro
			.container
				.row
					p.span4 Transform into a man who can attract and keep gorgeous women with the worlds most powerful technology for personal growth
					img(src="/images/img.jpg")

				.row
					.images.span4
						img(src="/images/img.jpg")
						img(src="/images/img.jpg")
					.text.span4
						p
							| Would you like to literally <strong>transform</strong> into a man who understands women and attraction… a man who’s always in control and always knows exactly what to say and do to succeed with amazing women and in life?
							| For the past 5 years I’ve sought out <strong>the best experts in the world</strong> to help myself get to where I am with women today...
							| These are the men who thought me everything I know about
						li How to naturally start conversations, get dates, and eventually finding my ideal girlfriend.
						li How to set specifc goals in my life and reach them (becoming a man of purpose)
						li How to turn a woman on and make her excited to see me again
						p ...the 1st of September I’m personally flying in the very best I’ve met to give YOU The Combined Power of 10 World Class Coaches!

		article.intro2
			header
				h2 Become the attractive, congruent, purposeful man women crave to be with
			section.row
				aside
					img(src="/images/img.jpg")
				.text
					p The Morten Hake Summit is about taking massive action on the most important areas of any mans life. It’s about empowering you to be your most powerful self so you can freely express your unique personality in an attractive, confident, and congruent way without fear or hesitation.
					p Just some of what we’re going to discover together:
					ul
						li Break through your fears that holds you back from creating the relationships you want (including unconscious fears and limiting beliefs)
						li How to separate yourself from 99% of all men she’s ever met in her life and become the guy she can’t stop thinking about.
						li NEW! How to design your life so success with women happens automatically. You’ll discover the most powerful methods for getting women to come into your life without having to do the actual “work” of going out to meet them
						li NEW! How to throw away the lines, tricks and gimmicks that only take you so far with women and develop a powerful CORE CONFIDENCE that magnetically attracts women to the REAL YOU
			footer
				blockquote
					p.quote This may be the greatest conference ever
					p.author This may be the greatest conference ever

		article.speakers
			header
				h2 Speakers

			.speaker
				img(src="/images/img.jpg")
				.name Andy Yosha
				p The III Morten Hake Summit is again presenting you with the best line of speakers that will make you evelve, be a better lover, a better person, a better version of yourself.
			.speaker
				img(src="/images/img.jpg")
				.name Andy Yosha
				p The III Morten Hake Summit is again presenting you with the best line of speakers that will make you evelve, be a better lover, a better person, a better version of yourself.

		article.about
			.block
				h3 Oslo
				h4 Norway
				h5 Oslofjord Convention Center
				a.button.get-directions Get Directions
			.block
				h3 2 Days
				h4 Aug 31<sup>st</sup> - Sept 1<sup>st</sup>
				h5 20 hours + Party at night
				a.button.calendar Set your calendar
			.block 
				h3 The Best
				h4 10 Speakers
				h5 in the fucking world
				a.button.take-action Take action now

		article.mastery
			header
				h2 The 5 Areas of Mastery at the Morten Hake Summit

			section.inner-game
				header
					h3 1. Deeper Inner Game
					h4 Resolving the underlying roots of insecurity, nervousness and jealousy
				p We’re gonna go DEEP into the ROOTS of who you are as a man, clearing out your inner-conflicts that keep you from utilizing your full potential. You’ll then be replacing them with new, empowering beliefs and the core confidence to be your most captivating self in any situation.
				ul
					li How to remove jealousy and negative feelings towards women (becoming that rooted source of good emotions in her life)
					li <strong>Free yourself from the destructive thoughts and feelings and experience a peace of mind from living in the present moment</strong> (and if negative thoughts try to sneak back you’ll have the tools you need to kick them back out!)
					li Break free from shyness and anxiety for social pressure and become an extroverted person who loves meeting new people.
					li How to eliminate any Limiting Beliefs and negative programming that’s subconsciously holding you back (once removed you’ll instantly feel liberated to do the things you always wanted to)
				
			section.flirting
				header
					h3 2. Flirting and Charisma
					h4 How to develop magnetic natural charisma and speak the language of women

				p There’s a secret language that all women speak, that most men will never understand... But those few men who do, INSTANTLY fall into a different category of men in a womans mind. Once you understand this, women will start to open up to you - both emotionally AND sexually - letting you into a world most men never get to experience.
				ul
					li How to use laughter (the universal bonding tool) to create a personal connection with a woman the moment you meet her
					li How to make every woman you meet think of you in a sexual way even without saying a word
					li The ability to communicate on a deeper level, create deeper connections and congruent attraction. You will NOT learn the terrible old “pickup tricks” that lowers a girls confidence.

						
			section.sexual
				header
					h3 3. Sexual Mastery
					h4 Discover the secrets of the female orgasm, and become her fantasy lover
				p You’re on a date with a woman and you want to kiss her… or you’re making out, and it’s time to “make the move”… but instead, You Choke. You crack. You buckle. You get freaked out by your fear and other emotions, and you blow it. Why?
				p The truth is, most men don’t have a clue on how to satisfy a woman in bed.
				ul
					li The Power of Erotic Hypnosis: How to make her come without even touching her. Sounds unbelievable right? Honestly, I didn’t believe this myself until I saw it with my own eyes(!)
					li Eliminate the dreaded “pre-mature ejaculation” syndrome so you can last longer and never again have to worry about coming too fast (this deeper level solution is easier than most people think)
					li Learn the natural way of Sensual Kissing and Touching that makes a woman so turned on she’s begging you to take her home.
					li How to unlock the secrets of Multiple Orgasms and become her ultimate fantasy lover

						
			section.relationship
				header
					h3 4. Relationship Mastery
					h4 How to create and manage healthy, passionate, exciting relationships
				p Have you ever been in a relationship that turns sour? Or had a woman lose interest in you? Jealousy, drama, other guys, new life-cycles, insecurity and poor communications are all dreadful pitfalls that every year destroys thousands of relationships and make your life a fucking misery. However, that’s NOT going to be you:
				ul
					li How to remove jealousy and negative feelings towards women (becoming that rooted source of good emotions in her life)
					li How to have Multiple Open Long-Term Relationships with women
					li How to nurture Long-term girlfriend and keeping the passion going
					li How to deal with breakdowns, jealousy and life-cycles.

								
			section.relationship
				header
					h3 5. Lifestyle Design
					h4 How to design an attractive dream lifestyle and effortlessly attract women into your life
				p What if there was a way for you to set-up life in a way that made women want to constantly be around you as a natural part of your lifestyle?
				ul
					li How to set up your life so you are constantly meeting interesting, attractive, available women… without having to go out every night… and in a way that drives them to want to meet YOU
					li Identify your ideal self - and create your life-map and actionplan for constant personal growth (so you can have total clarity on your next step in life!)
					li How to create a massive social circle
					li How earn the respect from your peers, and become that trusted leader in your social circle



		article.details
			| TODO

		article.info
			header
				h2 Useful Information

			.row
				.span4
					h3 How to get there
					p You can either land in Oslo Gardermoen, Oslo Rygge, or Oslo Torp - it’s about the same distance from the city, however, Rygge and Torp sometimes tend to be cheaper destinations. Check our Travel Guide for more details and prices.
				.span4
					h3 Where to stay
					p Attendees of the Morten Hake Summit receive a special discount on Hotels near the Summit. Prices vary from X to Y. Hostels, AirBNB and Couchsurfing are also big in Oslo! Check our Accomodation guide for more details and prices.
				.span4
					h3 When It Starts
					p Doors open at 10.00am on Saturday morning. We’re wasting no time and the whole day will be an immersive experience. There will be plenty of breaks, and food will be sold at the location.
			.row
				p NEED HELP?
				p Fear not! Just send us an email at
					a(href="mailto:support@mortenhakesummit.com") support@mortenhakesummit.com


		article.faq
			



		#Scripts
			script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" )
			script( src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" )

			script( src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js" )

			script( src="scripts/app.js", type"text/javascript")
