!!! 5
html(lange="en")

	head
		include meta

		//Favicon
		link( rel="shortcut icon", href="/favicon.ico")
		link( rel="apple-touch-icon", href="/apple-touch-icon.png")

		//css
		link( rel="stylesheet", media="screen", href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")
		link( rel="stylesheet", media="screen", href="styles/main.css")


		//RSS TODO

	body.home
		header
			.container
				a.nav-button
					span.icon-bar
					span.icon-bar
					span.icon-bar

				<iframe class="span6 offset1" src="http://player.vimeo.com/video/46626746?version=3&showinfo=0&controls=0&modestbranding=1&rel=0&hd=1" width="900" height="318" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

				.info
					h1
						a.logo Morten Hake Summit
					p Flying into Norway are some of the best dating, relationship and life coaches in the world...
					.dates August 31<sup>st</sup> <span>-</span> September 1<sup>st</sup>
					a.button( href="http://mhsummit.eventbrite.com/", title="Get Tickets Now for Morten Hake Summit 2013")
						span Get Tickets now
						.lightning

			nav
				.container
					ul.pull-right	
						li
							a(href="#About") About
						li
							a(href="#Program") Program
						li
							a(href="#Speakers") Speakers
						li
							a(href="#Ticket") Tickets
						li
							a(href="mailto:support@mortenhakesummit.com") Support
								
		article.intro#About
			.container
				.row
					h5.span7.offset2 Transform into a man who can attract and keep gorgeous women with the worlds most powerful technology for personal growth
				.row
					.images.span4.offset1
						img(src="./images/2012-speakers.jpg")
						img(src="./images/social-event.jpg")
					.text.span6
						p
							| If you're a man or a woman in Europe. Ready to take your relationships and life to a completely new level of excitement, passion. And fill your life with social, romantic, and sexual abundance. This Personal-Growth Conference might be the most important event of the year... (Read On...)

							| My name is Morten Hake. And for the past 4 years The Morten Hake Summit has helped thousands of men and women. Unlock the secrets of becoming incredibly attractive to the opposite sex. Create extraordinary and deep romantic relationships. Have mind-blowing sex. And attract amazing people into your life. Who support and empower you to be the best person you can be. 
							
							|Insert picture somewhere aroudn here: http://www.mortenhakesummit.com/images/2012-speakers.jpg (The Speakers of Morten Hake Summit 3 receive a standing ovation)
							
							|People arrive at The Morten Hake Summit and walk out changed. Their lives drastically and immediately improve for the better. When you look at the what The Morten Hake Summit teaches. It’s easy to see why.
							
		.banner
			h3 Request your ticket to the Morten Hake Summit 2013
			.container
				.row
					.span6.offset1
						.desc <a href="http://mhsummit.eventbrite.com/" title="Get Tickets Now for Morten Hake Summit 2013">Click here</a> to secure your seat at the Morten Hake Summit 4
						p Your investment will support the Anjerea Foundation, securing the educational future of girls in Tanzania.
					.span4
						a.button( href="http://mhsummit.eventbrite.com/", title="Get Tickets Now for Morten Hake Summit 2013")
							span Get Tickets now
							.lightning

		article.intro2
			header
				.container
					h2 Become the attractive, congruent, purposeful man women crave to be with
			.container
				.row
					.images.span4.offset1
						img(src="./images/happy-people.jpg")
						img(src="./images/smiling-jordan.png")
				footer
					blockquote
						p.quote This may be the greatest conference ever
						p.author Paul Janka
											

		article.speakers#Speakers
			.container
				header
					h2 Speakers
				.span11.offset1
					.row
						.speaker.span2
							img(src="./images/speakers/hans.jpg")
							h3.name Hans Comyn

						.speaker.span2
							img(src="./images/speakers/jamie.jpg")
							h3.name Jamie Smart

						.speaker.span2
							img(src="./images/speakers/knut.jpg")
							h3.name Knut Johannessen

						.speaker.span2
							img(src="./images/speakers/leigh.jpg")
							h3.name Leigh Louey-Gung

						.speaker.span2
							img(src="./images/speakers/mark.jpg")
							h3.name Mark Cunningham
									
					.row

						.speaker.span2
							img(src="./images/speakers/morten.jpg")
							h3.name Morten Hake

						.speaker.span2
							img(src="./images/speakers/shogo.jpg")
							h3.name Shogo Garcia

						.speaker.span2
							img(src="./images/speakers/steve.jpg")
							h3.name Steve Pavlina

						.speaker.span2
							img(src="./images/speakers/unknown.jpg")
							h3.name To Be Announced

						.speaker.span2
							img(src="./images/speakers/unknown.jpg")
							h3.name To Be Announced

								
		article.about
			.container
				.row
					.block.span4
						h3 Oslo
						h4 Norway
						h5 KANONHALLEN
						a.button.get-directions(href="mailto:support@mortenhaugumhake.com") Get Directions
					.block.span4
						h3 2 Days
						h4 Aug 31<sup>st</sup> - Sept 1<sup>st</sup>
						h5 20 hours + Party at night
						a.button.calendar(href="mailto:support@mortenhaugumhake.com") Set your calendar
					.block.span4
						h3 The Best
						h4 10 Speakers
						h5 in the world
						a.button.take-action(href="http://mhsummit.eventbrite.com/", title="Get Tickets Now") Get Tickets Now

		article.mastery#Program
			header
				h2 The 5 Areas of Mastery at the Morten Hake Summit

			.container

				section.inner-game
					.row
						.span6.offset1
							header
								h3 1. Deeper Inner Game
								h4 Resolving the underlying roots of insecurity, nervousness and jealousy.
							.content
								p We’re gonna go DEEP into the ROOTS of who you are as a person. Clearing out your inner-conflicts that keep you from utilizing your full potential. You’ll then be replacing them with new, empowering beliefs and the core confidence to be your most captivating self in any situation.
								ul							
									li How to <strong>remove jealousy</strong> and negative feelings towards women (becoming that rooted source of good emotions in her life)
									li Free yourself from destructive thoughts and feelings. Then experience a peace of mind from living in the present moment (and if negative thoughts try to sneak back in. You’ll have the tools you need to kick them back out!)
									li Learn how to make a powerful first impression, and how to be impressive in any social setting. 
									li How to eliminate any Limiting Beliefs and Negative Programming that’s subconsciously holding you back from living your dreams. (once removed you’ll instantly feel liberated to do the things you always wanted to.)
						.images.span4
							<iframe width="560" height="315" src="http://www.youtube.com/embed/v2FVBIv2cV8?version=3&showinfo=0&controls=0&modestbranding=1&rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
							img(src="./images/feedback-bryan.jpg")

					
				section.flirting
					.row
						.images.span4.offset1
							<iframe width="420" height="315" src="http://www.youtube.com/embed/FGZujRp_dHc?version=3&showinfo=0&controls=0&modestbranding=1&rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
							img(src="./images/women.jpg")

						.span6
							header
								h3 2. Flirting and Charisma
								h4 How to develop magnetic natural charisma and speak the language of sexual communication

							.content
								p Here we reveal the secrets of incredibly charismatic people. And why they instantly fall into a higher category of attractiveness. At The Morten Hake Summit 4 - we're going to pull back the curtain revealing what extremely charismatic people do. And how you can do the same using your own unique personality. And after you've got this down - people will immediately begin to open up to you. Both emotionally, and sexually. Letting you into a world only few people get to enjoy.
								ul
									li How to use laughter (the universal bonding tool) to create a personal connection with a anyone the moment you meet them.
									li How to make every man/woman you like to think of you in a sexual way even without saying a word (hint: this hidden technique goes much deeper than simple "body language tricks")
									li The ability to communicate on a deeper level, <strong>create deeper connections and authentic attraction</strong>. You will <u>NOT</u> learn the terrible old “pickup tricks” that lowers a persons confidence or take advantage of people.

				section.sexual
					.row
						.span6.offset1
							header
								h3 3. Sexual Mastery
								h4 Discover the secrets of powerful orgasms to becoming a fantasy lover
							.content
								p The truth is, most men and women don’t have a clue on how to fully satisfy their partner in bed. Which is why we're flying in some of the most knowledgeable lovers in the world who will show you the secrets to becoming the best lover your partner has ever had. Both by what you do in the bedroom, and what you do out of it.

								| You will learn everything you need to know.
								ul
									li Eliminate the dreaded sexual awkwardness that happens in bed and become totally comfortable with your own sexual desires.
									li Learn the natural way of Sensual Kissing and Touching that makes you both so turned on you explode with desire.
									li How to communicate with your lover in bed that feels natural and comfortable (This will unlock absolutely mind blowing sex)
									li How to become a multi-orgasmic man, so you can last for hours. So you give her as many orgasms as her mind and body can handle. (Both of you will be exhausted and absolutely satisfied.)
						.images.span4
							img(src="./images/sexual-nina.png")
							img(src="./images/zan-diana.jpg")

							
				section.relationship
					.row
						.images.span4.offset1
							img(src="./images/morten-rebeca.jpg")
						.span6
							header
								h3 4. Relationship Mastery
								h4 How to create and manage healthy, passionate, exciting relationships
							.content
								p Say goodbye to relationships turning sour, partners losing interest, jealousy, drama, dangerous insecurity, poor communication skills. And everything else that shipwrecks thousands of relationships a year. 
								
								| Because after The Morten Hake Summit 4 - these things will never happen to you again. Because you'll know exactly how to...
								ul
									li Eliminate jealousy and negative feelings from your relationship (becoming that rooted source of good emotions for your partner)
									li Use Advanced Principles of Romantic Communication to resolve problems before they even come up
									li How to nurture Long-Term Relationships to create that become even more exciting as time goes on. (This might be the most important thing you'll learn when it comes to dating.)
									li How to deal with breakdowns and drama. And live your life with ease and delight.

				section.lifestyle
					.row
						.span6.offset1
							header
								h3 5. Lifestyle Design
								h4 HHow to design an attractive dream lifestyle and effortlessly attract amazing and attractive people into your life
							.content
								p What if there was a way for you to set-up life in a way that made men and women want to constantly be around you as a natural part of your lifestyle?
								ul
									li How to set up your life so you are constantly meeting interesting, attractive, available people on autopilot…and in a way that drives them to want to meet YOU.  Without having to go out every night… 
									li Identify your ideal self - and create your life-map and action plan for constant personal growth. (So you can have total clarity on your next step in life!)
									li <strong>The exact step-by-step process for Creating Large Vibrant Social Circles from scratch (these advanced strategies of social engineering work even with half-decent social skills)
									li Earn the respect from your peers, and become that trusted leader in your social circle.
						.images.span4
							<iframe width="420" height="315" src="http://www.youtube.com/embed/os7Aeoyo5gQ?version=3&showinfo=0&controls=0&modestbranding=1&rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
							img(src="./images/zan-women.jpg")

		article.details#Tickets
			.container
				header
					h3 Morten Hake Summit 4 Program Details

				.table.span10.offset1
					.table-row
						.text 1x Entry to the Full 2-Day Event With The Worlds Greatest Coaches.
						.value $500
					.table-row 
						.text 1x Online Strategy Session: Learn the latest tools on rapid learning, and how to extract the most profound learning experiences from conferences.
						.value $200
					.table-row 
						.text 1x Lifetime Membership in the Online Morten Hake Summit Program: The Worlds Greatest Education on How To Become an Attractive Man.
						.value $500
					.table-row 
						.text 1x Personal Coaching Session With A Certified Summit Coach.
						.value $500
					.table-row 
						.text 1x Exclusive Access to our Private Social Networking Group where you’ll get feedback, answers and inspiration way into the future after the Summit. 
						.value $300
					.table-row 
						.text Total Value Getting
						.value $1,700

					.row.tickets
						.text.span5 1x Ticket only $297
						a.button.span5( href="http://mhsummit.eventbrite.com/", title="Get Tickets Now for Morten Hake Summit 2013")
							.title Get Tickets now
							.lightning
					.guarantee
						.icon
						.title 100% Money Back Satisfaction Guarantee*
						.text In the event you have something come up and can’t make it to the Morten Hake Summit, you will get a full refund through August 1st, and a 50% money-back refund if you notify us before August 15th. After that, you can send someone else in your place. You can email us at <a href="mailto:support@mortenhakesummit.com">support@mortenhakesummit.com</a>.com for questions on refunds


		article.info
			.container
				header
					h2 Useful Information

				.row
					.span3.offset1
						h3 How to get there
						p You can either land in Oslo Gardermoen, Oslo Rygge, or Oslo Torp - it’s about the same distance from the city, however, Rygge and Torp sometimes tend to be cheaper destinations. Check our Travel Guide for more details and prices.
					.span3
						h3 Where to stay
						p Attendees of the Morten Hake Summit receive a special discount on Hotels near the Summit. Prices vary from X to Y. Hostels, AirBNB and Couchsurfing are also big in Oslo! Check our Accomodation guide for more details and prices.
					.span3
						h3 When It Starts
						p Doors open at 10.00am on Saturday morning. We’re wasting no time and the whole day will be an immersive experience. There will be plenty of breaks, and food will be sold at the location.
				.row.center
					h4 NEED HELP?
					p Fear not! Just send us an email at 
						a(href="mailto:support@mortenhakesummit.com") support@mortenhakesummit.com

		.banner
			h3 Request your ticket to the Morten Hake Summit 2013
			.container
				.row
					.span6.offset1
						.desc <a href="http://mhsummit.eventbrite.com/" title="Get Tickets Now for Morten Hake Summit 2013">Click here</a> to secure your seat at the Morten Hake Summit 4
						p Your investment will support the Anjerea Foundation, securing the educational future of girls in Tanzania.
					.span4
						a.button( href="http://mhsummit.eventbrite.com/", title="Get Tickets Now for Morten Hake Summit 2013")
							span Get Tickets now
							.lightning


		article.testimonials
			.container
				.row
					.span7.offset2
						header
							h2 See what others are saying
						.content
							<iframe width="420" height="315" src="http://www.youtube.com/embed/dNsfT6sOxPg?version=3&showinfo=0&controls=0&modestbranding=1&rel=0&start=91&hd=1" frameborder="0" allowfullscreen></iframe>

							.testimonial.row
								.span2
									img(src="./images/testimonials/hogne-kirkebo.png")
								.span5
									p What can I say…? I persuaded my two of my friends to come here, and what I told them was: “Why settle for mediocre when you got a chance to invest two days and get the extraordinary!?”
									.name Hogne Kirkebo

							.testimonial.row
								.span2
									img(src="./images/testimonials/joakim-lea.jpg")
								.span5
									p I love the whole congruent thing.. no tricks, no nothing – just dead on HONEST!
									.name Joakim

							.testimonial.row
								.span2
									img(src="./images/testimonials/cecilia-jayer.jpg")
								.span5
									p What I love about this is that while Dating and Pickup is part of it, the real focus is personal growth and the insights that can really make a person feel fulfilled about themselves!
									.name Cecilie Jayer
									
							.testimonial.row
								.span2
									img(src="./images/testimonials/tore-boksasp.png")
								.span5
									p To be honest I didn’t really know any of the speakers, but I had no doubt about getting my ticket, cause I know what Morten and Knut stand for – and they always deliver!
									.name Tore Boksasp
									
							.testimonial.row
								.span2
									img(src="./images/testimonials/nils-rogne.png")
								.span5
									p Thanks Morten for a fantastic weekend and Summit in Oslo!!! – The event was up to the international standard, and quite amazing when you realize there are only 5 million people in little Norway…
									.name Nils Rognerud
									
							.testimonial.row
								.span2
									img(src="./images/testimonials/Jostein.png")
								.span5
									
									p Speed of Implementation!!!, I will put the stuff I learned that Day-Game action and Try to Combine it With the other speeches tips. (capital letters mixed, too excited to write normally, sorry)!!! : D
									.name Jostein – Student

							.testimonial
								p What a blast THAT was!
								.name Johnny Soporno

							.testimonial 
								p No more cheating, playing, hypnotizing, etc. the Summit is something more than just helping men.  I believe the “MH Summit” is going to change the next generation of men
								.name Rafal

							.testimonial 
								p Hi my name is Matt, after watching these videos I’ll never look at FedEx log the same again. But in all seriousness I’ve seen some of the other dating packages out there, but by far this one gets furthest to the core of authenticity.
								.name Matt McColeman
							.testimonial
								p
									| The Summit was an incredible experience that’s still flashing through my head. For two days we were in our own little bubble where there was no shyness or insecurity and everybody could talk together and become friends.
									| Just to be around people like Zan and Johnny where you can actually FEEL their presence was an amazing experience that completely shifted my perception on what’s possible in social interactions because I’ve never met people with that kind of charisma before. I’m already psyched about next year and I’d easily fight an old woman for it if that’s what it takes to get a ticket
									.name Mads Nor Lunde
							.testimonial
								p Had a fantastic weekend! Perhaps the best I’ve ever had. THANK YOU SO MUCH to Morten & all the speakers! Morten Hake Summit is something I’ll recommend everyone to go to next year and the year after that…
								.name Fredrik Hagnes

							.testimonial
								p It’s the best I’ve ever paid for. It’s impossible to put a price on what I got from the Summit. As Johnny Soporno says it – “Money is material” and THIS IS PRICELESS!
								.name Michael Simba

							.testimonial 
								p I came all the way from Belgium and I’d do it again if I knew the value. Obviously we’re not even done with Day 2 yet but just from what I got in 1 day, I would come back!
								.name Ken Ji O

							.testimonial 
								p This Might Be Very Well The Best Conference I’ve EVER Been To…
								.name Paul Janka

							.testimonial 
								p Norway Rocks!!! Many thanks Morten for such a great event and thank you to everyone for such a great energy J
								.name Rob Brinded – Author of ‘Code of Natural’

							.testimonial 
								p Absolutely amazing and indeed life changing event! Thank you so much for bringing so many great people together!
								.name Alex May

							.testimonial 
								p 
									| The greatest value is not from speeches… it’s from the breaks. Meeting these incredible people, bith speaker and students, is what really is inspiring. That’s the real value!
									| My realization is that, they are real people. They are not Pick-Up artists trying to learn a line or two. They are genuinely worthy and caring people that want to improve their life in order to make the world a better place. Really!
									| People that come to these seminars are people that want to improve their lives, they are people that take their life seriously and fully immerse in it. I felt that I had known them for several years after talking to them for 10 minutes because we had so much in common. And because everyone is interested in connecting.
							
									| No one has hidden agendas, no one has uncovered needs, everyone is there to share value. I met some incredible People at the conference, including Jordan Harbinger, Bryan Bayer, Johnny Soporno, Violett Marcell, Tom Torrerro, Zan Perrion and many many others.
							
									| They are incredibly diverse individuals, but the thing they all have in common is this. They are People! They are true genuine people with their lives filled with:
							
									| Gratitude, Love, Passion and Freedom!
								.name Joakim Lea – Student

										
							.testimonial 
								p MortenHakeSummit 2010 was AWESOME AMAZING FANTASTIC. I returned to my life with so much positive energy and the knowledge that ANYTHING is possible! Next year I’m bringing all my friends – Boys and girls.
								.name Anonymus

		.banner
			h3 Request your ticket to the Morten Hake Summit 2013
			.container
				.row
					.span6.offset1
						.desc <a href="http://mhsummit.eventbrite.com/" title="Get Tickets Now for Morten Hake Summit 2013">Click here</a> to secure your seat at the Morten Hake Summit 4
						p Your investment will support the Anjerea Foundation, securing the educational future of girls in Tanzania.
					.span4
						a.button( href="http://mhsummit.eventbrite.com/", title="Get Tickets Now for Morten Hake Summit 2013")
							span Get Tickets now
							.lightning

		article.faq
			.container
				.row
					.span7.offset2
						header
							h2 Frequently Asked questions

						.content
							h4 How Much Does The Ticket Cost?
							p Your ticket for The Morten Hake Summit 4 costs $297. That’s if you buy before August 1st 2013. 
							p After that the price goes up to $397. Which is still a huge bargain.



							h4 What’s In The V.I.P. Package?
							p The V.I.P. package gets you front row seats for the conference. A T-shirt. An additional swag bag. But the most valuable part of the V.I.P. package is that you are invited to a private exclusive V.I.P. dinner with all the speakers. This dinner is where legendary stories are made. 
							
							p Not only will you have an incredibly fun time. You can ask the speakers anything you want. And have their full attention 1-on-1. These speakers charge thousands of dollars for coaching. But when you show up to the V.I.P. dinner, you can get all of your questions answered, right then and there by all of the speakers. 

							h4 Is this conference for men? Or should women come too?
							p This conference is for everybody. Women should absolutely come. Every woman who has ever attended has loved it. The presentations give value to everyone, male or female. 

							p The Morten Hake Summit is about creating a better conversation between men and women. You  get incredible value from the speakers. And you will have a better understanding of yourself, and the men in your life. 
							
							p "What I love about this is that while Dating and Pickup is part of it, the real focus is personal growth and the insights that can really make a person feel fulfilled about themselves!"
- Cecilie Jayer


							h4 Where is the conference being held? And at what time?
							p The conference is being held at the Kanonhallen. On August 31st - September 1st. 
							p Show starts at 10:00AM. You’ll want to show up a little early. There’s a quick break after each speaker. And a dinner break at 7:00PM. 
							p The conference is located at the Kanonhallen located at: 
Peter Møllersvei 2, 
0585, Oslo

							h4 What can I expect at Morten Hake Summit?
							p If you’re expecting a traditional seminar, you’re in for a surprise! The Morten Hake Summit presents speakers who are PASSIONATE about giving you their most powerful training, profound mind shifts, groundbreaking ideas, and extensive knowledge to completely transform literally every part of your life.
							p Speakers are constantly walking around holding mini-workshops, intimate lessons and answering questions throughout the breaks and lunch-hours.
							p While you can still expect mind-blowing stage presentations from some of the top names in Dating, Sex, Relationships and Self-Development - the Summit you’ll connect with what we believe to be the most impactful group of extraordinary people within dating and personal development, who are driven to expand and immerse in their personal growth.
							p Expect to form new friendships, deep connections and re-boot your life with an extensive new network of friends on the same path as you.
							
							h4 Do you have a guarantee and/or refund policy?
							p Yes, of course! In the event you have something come up and can’t make it to the Morten Hake Summit, you will get a full refund through August 1st, and a 50% money-back refund if you notify us before August 15th. After that, you can send someone else in your place. You can email us at support@mortenhakesummit.com for questions on refunds.
							h4 What should I bring with me?
							p The most important thing is a positive attitude, an open-mind and the willingness to accept new ideas! A lot of the things you’re gonna discover may be counter-intuitive and even contradicting everything you’ve heard before! Trust the process, stay open-minded, and you’ll experience the fastest growth possible.
							p Other than that, don’t worry - we got you covered! At the entry you’ll receive a free gift-bag containing everything you need to get the most out of your experience.


		.banner
			h3 Request your ticket to the Morten Hake Summit 2013
			.container
				.row
					.span6.offset1
						.desc <a href="http://mhsummit.eventbrite.com/" title="Get Tickets Now for Morten Hake Summit 2013">Click here</a> to secure your seat at the Morten Hake Summit 4
						p Your investment will support the Anjerea Foundation, securing the educational future of girls in Tanzania.
					.span4
						a.button( href="http://mhsummit.eventbrite.com/", title="Get Tickets Now for Morten Hake Summit 2013")
							span Get Tickets now
							.lightning

		#Scripts
			script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" )
			script( src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" )

			script( src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js" )

			script( src="scripts/app.js", type"text/javascript")
